.dashboardWrapper {
	padding: 1rem;
}

.dashboardWrapper .infoSections {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
}

.dashboardWrapper .entitiesLists {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 1.5rem;
	padding: 2rem 0;
}

@media (max-width: 768px) {
	.dashboardWrapper .entitiesLists {
		grid-template-columns: 1fr;
	}
}
