:root {
	--header-height: 60px;
	--header-background-color: #0f172b;
	--header-border-color: #314158;

	--nav-menu-item-text-color: #90a1b9;
	--nav-menu-item-active-text-color: #f8fafc;
	--nav-menu-item-font-weight: 500;
	--nav-menu-item-hover-underline-color: #f8fafc;
	--nav-menu-item-hover-text-color: #f8fafc;

	--user-action-button-menu-hover-bg-color: #141e38;
	--user-action-button-menu-bg-color: #0f172b;

	--search-input-border-color: #90a1b9;
	--search-input-hover-border-color: #f8fafc;
	--search-input-focus-border-color: #f8fafc;
	--search-input-placeholder-color: #90a1b9;
	--search-input-text-color: #f8fafc;
	--search-input-button-bg-color: #314158;
	--search-input-button-hover-bg-color: #90a1b9;

	--header-action-button-border-color: #90a1b9;
	--header-action-button-text-color: #f8fafc;
	--header-action-button-hover-border-color: #f8fafc;
	--header-action-button-hover-text-color: #f8fafc;

	--hero-section-title-text-color: #00bba7;
	--hero-section-title-btn-border-color: #90a1b9;
	--hero-section-title-btn-hover-border-color: #f8fafc;

	--category-card-bg-color: #90a1b9;
	--category-card-btn-text-color: #00bba7;

	--filter-section-border-color: #314158;

	--product-card-border-color: #314158;
	--product-card-btn-border-color: #00bba7;
	--product-card-btn-hover-text-color: #0f172b;

	--admin-infosection-bg-color: #314158;
	--admin-list-item-border-color: #00bba7;

	--sidebar-bg-color: #0f172b;
	--sidebar-border-color: #314158;
	--sidebar-item-hover-text-color: #00bba7;
	--sidebar-item-hover-bg-color: #314158;

	--background-color: #0f172b;
	--primary-text-color: #f8fafc;
	--primary-title-color: #00bba7;
	--text-color: #90a1b9;
	--primary-border-color: #90a1b9;
	--delete-action-btn-color: #fb2c36;
	--add-action-btn-color: #4caf50;
	--edit-action-btn-color: #f0b100;
	--loader-color: #00bba7;
	--btn-bg-color: #1d3557;
	--btn-hover-bg-color: #314158;
	--cart-counter-bg-color: #fb2c36;
}
