.productListContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	justify-content: center;
}

.productItem {
	display: flex;
	justify-content: center;
}

.noProducts {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--primary-text-color);
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	padding: 5rem 0;
}
